<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h2>{{session}}</h2>

</div>
<!-- Single Page Application
<br>
<a routerLink="family">Family</a> &nbsp;
<a routerLink="directive">Directive</a> &nbsp;
<a routerLink="review">RC</a> &nbsp;
<a routerLink="template">Template Form</a> &nbsp;
<a routerLink="reactive">Reactive Form</a> &nbsp;
<a routerLink="todo">Task Manager</a> &nbsp;
<a routerLink="pipe">Pipe</a> &nbsp;
<a routerLink="consume1">Consume1</a> &nbsp;
<a routerLink="consume2">Consume2</a> &nbsp;
<a routerLink="remote">Consume Rest API</a> &nbsp;
<a routerLink="eventbinding">Event Binding</a> &nbsp;
<a routerLink="animation">Animation</a> &nbsp;
<a routerLink="bootstrap">Bootstrap</a> &nbsp;
<br> -->

<h1 style="text-align: center">HTML 5 Training</h1>
<div class="container-fluid">
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="family">Family <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="directive">Directive</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Forms
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink="template">Template Driven From</a>
              <a class="dropdown-item" routerLink="reactive">Reactive Form</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink="review">Review</a>
            </div>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" routerLink="todo">Task Manager</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="pipe">Pipes</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Service & Binding
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink="consume1">Consume-1</a>
              <a class="dropdown-item" routerLink="consume2">Consume-2</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink="remote">Consume Rest API</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="animation">Animation</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
  </header>
  <main>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/slide1.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/slide2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/slide3.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
  </main>
  <footer>

  </footer>
</div>
<router-outlet></router-outlet>